---
import { BsChevronLeft, BsChevronRight } from "react-icons/bs/index.js";
import { TfiClose } from "react-icons/tfi/index.js";

const navList = [
	{ label: "work.", href: "#work" },
	{ label: "my.offer.", href: "/my-offer" },
	{ label: "contact.", href: "#contact" },
];

const currentlyReading: { title: string; link: string } = {
	title: "A Storm of Swords",
	link: "https://www.goodreads.com/book/show/62291.A_Storm_of_Swords",
};
---

<script>
	import gsap, { Power2 } from "gsap";

	let isOpen = false;
	const sidebarElement = document.querySelector(".Sidebar");
	const sidebarButton = document.querySelector(".Sidebar__button");
	const sidebarCloseSvg = document.querySelector(".Sidebar__close");

	const animateIn = () => {
		gsap.fromTo(
			".Sidebar__inner > nav > ul > li > a",
			{ yPercent: 50, opacity: 0 },
			{
				yPercent: 0,
				opacity: 1,
				delay: 1,
				duration: 0.8,
				stagger: 0.2,
				ease: Power2.easeOut,
			}
		);
		gsap.fromTo(
			".Sidebar__reading > * > *, .Sidebar__footer > p",
			{ yPercent: 50, opacity: 0 },
			{
				yPercent: 0,
				opacity: 1,
				delay: 1.6,
				duration: 0.6,
				stagger: 0.02,
				ease: Power2.easeOut,
			}
		);
	};

	const animateOut = () => {
		gsap.to(".Sidebar__inner > nav > ul > li > a", {
			yPercent: 50,
			opacity: 0,
			duration: 0.8,
			stagger: 0.2,
			ease: Power2.easeOut,
		});
		gsap.to(".Sidebar__reading > * > *, .Sidebar__footer > p", {
			yPercent: 50,
			opacity: 0,
			duration: 0.6,
			stagger: 0.2,
			ease: Power2.easeOut,
		});
	};

	function openSidebar() {
		if (isOpen) {
			animateOut();

			sidebarElement.classList.remove("Sidebar--open");
			sidebarButton.classList.remove("Sidebar__button--open");
			isOpen = false;
		} else {
			sidebarElement.classList.add("Sidebar--open");
			sidebarButton.classList.add("Sidebar__button--open");
			isOpen = true;

			animateIn();
		}
	}

	function hideSidebar() {
		animateOut();

		sidebarElement.classList.remove("Sidebar--open");
		sidebarButton.classList.remove("Sidebar__button--open");
		isOpen = false;
	}

	// toggle open state of sidebar
	sidebarButton.addEventListener("click", openSidebar);

	// close sidebar
	sidebarCloseSvg.addEventListener("click", hideSidebar);
</script>

<aside class="Sidebar">
	<button class="Sidebar__button">
		<svg
			stroke="currentColor"
			fill="currentColor"
			stroke-width="0"
			viewBox="0 0 16 16"
			xmlns="http://www.w3.org/2000/svg"
			><path
				fill-rule="evenodd"
				d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
			></path></svg
		>
	</button>
	<TfiClose size="40" className="Sidebar__close" />
	<div class="Sidebar__inner">
		<nav>
			<ul>
				{
					navList.map((navItem) => (
						<li>
							<a href={navItem.href} data-title={navItem.label}>
								<div>{navItem.label}</div>
							</a>
						</li>
					))
				}
			</ul>
		</nav>
		<div class="Sidebar__reading">
			<h4>
				<div>Currently reading:</div>
			</h4>
			<a href={currentlyReading.link} target="_blank">
				<div>
					{currentlyReading.title}
					<svg
						stroke="currentColor"
						fill="currentColor"
						stroke-width="0"
						viewBox="0 0 24 24"
						height="1em"
						width="1em"
						xmlns="http://www.w3.org/2000/svg"
						><path fill="none" d="M0 0h24v24H0z"></path><path
							d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z"></path></svg
					>
				</div></a
			>
		</div>
		<div class="Sidebar__footer">
			<p>Copyright © 2023 Elijah Oyerinde</p>
		</div>
	</div>
</aside>

<style lang="scss">
	@import "../styles/variables";

	.Sidebar {
		position: fixed;
		right: 0;
		height: 100vh;
		z-index: 60;

		width: 41.0866666667vw;
		min-width: 600px;
		padding: 136px 96px 32px;
		transform: translateX(100%);

		background: $main_light;
		transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.5s;

		&__button {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%) translateX(-80%);
			padding: 0.5rem 0.75rem;

			background: transparent;
			border: 0;
			border-radius: 0.5rem;

			// color: $tertiary_col;
			color: $main-light;
			transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;

			&--open {
				transform: translateY(-50%) translateX(-80%) rotate(180deg);
			}

			svg {
				width: 50px;
				height: 50px;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			li {
				list-style-type: none;
				position: relative;
				overflow-y: hidden;

				a {
					opacity: 0;

					font-size: 3.2rem;
					line-height: 3.5rem;
					font-weight: 500;
					text-decoration: none;
					color: $main_dark;

					display: block;
					font-family: "Unbounded", Arial, sans-serif;

					&::after {
						content: attr(data-title);
						font-size: 3.2rem;
						line-height: 3.5rem;
						font-weight: 500;
						color: $tertiary-col;

						position: absolute;
						top: 100%;
						left: 0;
					}

					div,
					&::after {
						transition: all 0.4s cubic-bezier(0.3, 0.86, 0.36, 0.95);
						// transition: transform 0.25s;
					}

					&:hover {
						div {
							transform: translateY(-100%);
						}
						&::after {
							transform: translateY(-100%);
						}
					}
				}
			}
		}

		&--open {
			transform: translateX(0);
		}

		&__inner {
			position: relative;
			height: 100%;

			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
		&__reading {
			margin-top: auto;

			h4 {
				text-transform: uppercase;
				opacity: 0.7;
				overflow-y: hidden;
			}

			a {
				text-decoration: none;
				color: $main-dark;

				// gap: 0.25rem;
				transition: all 0.4s;
				text-underline-offset: 0.3rem;
				display: block;
				overflow-y: hidden;
				height: 21px;

				&:hover {
					overflow-y: visible;
				}

				div {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: max-content;
					position: relative;

					svg {
						opacity: 0;
						transition: all 0.4s;
						display: block;
					}

					&::after {
						// draw white line underneath
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 0;
						height: 1px;
						background: $tertiary-col;
						transform: translateY(100%);
						transition: all ease-in-out 0.25s;
					}

					&:hover {
						color: $tertiary-col;

						&::after {
							width: 146px;
						}

						svg {
							opacity: 1;
							margin-left: 0.2rem;
						}
					}
				}
			}
		}

		&__footer {
			// position: absolute;
			// bottom: 0;
			margin-top: 1.5rem;
			overflow-y: hidden;
		}

		&__close {
			position: absolute;
			top: 2.33vw;
			right: 2.33vw;

			transition: color 450ms;

			&:hover {
				color: $tertiary-col;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.Sidebar {
			width: 100%;
			min-width: 100%;
			padding: 136px 32px 32px;
			transform: translateX(100%);

			&--open {
				transform: translateX(0);
			}

			&__button {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%) translateX(-80%);
				padding: 0.5rem 0.75rem;

				background: transparent;
				border: 0;
				border-radius: 0.5rem;

				// color: $tertiary_col;
				color: $main-light;
				transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.45s;

				svg {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	}
</style>
